*
!.gitignore
!app
app/*
!app/code
app/code/*
!app/code/local
app/code/local/*
!app/code/local/Cardgate

!app/etc
app/etc/*
!app/etc/modules
app/etc/modules/*
!app/etc/modules/ZzCardgate_Cgp.xml

!app/design
app/design/*
!app/design/frontend
app/design/frontend/*
!app/design/frontend/base
app/design/frontend/base/*
!app/design/frontend/base/default
app/design/frontend/base/default/*
!app/design/frontend/base/default/template
app/design/frontend/base/default/template/*
!app/design/frontend/base/default/template/cardgate

!app/locale
app/locale/*
!app/locale/nl_NL
app/locale/nl_NL/*
!app/locale/nl_NL/Cardgate_Cgp.csv
!app/locale/nl_NL/template
app/locale/nl_NL/template/*
!app/locale/nl_NL/template/email
app/locale/nl_NL/template/email/*
!app/locale/nl_NL/template/email/cgp

!app/locale/en_US
app/locale/en_US/*
!app/locale/en_US/template
app/locale/en_US/template/*
!app/locale/en_US/template/email
app/locale/en_US/template/email/*
!app/locale/en_US/template/email/cgp

!skin
skin/*
!skin/adminhtml
skin/adminhtml/*
!skin/adminhtml/default
skin/adminhtml/default/*
!skin/adminhtml/default/default
skin/adminhtml/default/default/*
!skin/adminhtml/default/default/cardgate_cgp.css
!skin/adminhtml/default/default/images
skin/adminhtml/default/default/images/*
!skin/adminhtml/default/default/images/cardgate

!tests/
!tests/bootstrap.php
!tests/phpunit.xml
!README.md
!README_DE.md
!README_NL.md
!composer.json
!.travis.yml
!phpunit.xml.dist